################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/F1App/.vs/F1App/v14/.suo
/F1App/.vs/F1App/v14/.suo
/F1App/.vs/F1App/v14/.suo
