
@{
    ViewBag.Title = "Index";
}
<script>
    $(".navbar li.active").removeClass("active");
    $("#HomeLink").addClass("active");
</script>

<div id="Home" class="col-xs-12">
    <h2 class="text-center">HomePage</h2>
</div>

